<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.634</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.5649999999999999</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.598</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-23 00:00:00</string>
		<key>upPrice</key>
		<real>0.634</real>
		<key>value10</key>
		<real>0.5841</real>
		<key>value20</key>
		<real>0.52885</real>
		<key>value5</key>
		<real>0.5936</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.576</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.541</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.555</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-22 00:00:00</string>
		<key>upPrice</key>
		<real>0.578</real>
		<key>value10</key>
		<real>0.5713</real>
		<key>value20</key>
		<real>0.5204</real>
		<key>value5</key>
		<real>0.5868</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.555</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.549</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.61</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-21 00:00:00</string>
		<key>upPrice</key>
		<real>0.61</real>
		<key>value10</key>
		<real>0.5635</real>
		<key>value20</key>
		<real>0.51475</real>
		<key>value5</key>
		<real>0.5881999999999999</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.608</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.59</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.595</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-20 00:00:00</string>
		<key>upPrice</key>
		<real>0.609</real>
		<key>value10</key>
		<real>0.5533</real>
		<key>value20</key>
		<real>0.50985</real>
		<key>value5</key>
		<real>0.5888</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.595</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.59</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.598</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-19 00:00:00</string>
		<key>upPrice</key>
		<real>0.631</real>
		<key>value10</key>
		<real>0.5366</real>
		<key>value20</key>
		<real>0.5002</real>
		<key>value5</key>
		<real>0.5822000000000001</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.6</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.585</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.599</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-16 00:00:00</string>
		<key>upPrice</key>
		<real>0.618</real>
		<key>value10</key>
		<real>0.5223</real>
		<key>value20</key>
		<real>0.4935</real>
		<key>value5</key>
		<real>0.5746</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.583</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.551</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.552</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-15 00:00:00</string>
		<key>upPrice</key>
		<real>0.583</real>
		<key>value10</key>
		<real>0.5085</real>
		<key>value20</key>
		<real>0.4891</real>
		<key>value5</key>
		<real>0.5558</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.5580000000000001</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.553</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.575</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-14 00:00:00</string>
		<key>upPrice</key>
		<real>0.575</real>
		<key>value10</key>
		<real>0.4974</real>
		<key>value20</key>
		<real>0.48575</real>
		<key>value5</key>
		<real>0.5387999999999999</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.575</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.545</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.546</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-13 00:00:00</string>
		<key>upPrice</key>
		<real>0.579</real>
		<key>value10</key>
		<real>0.4886</real>
		<key>value20</key>
		<real>0.48415</real>
		<key>value5</key>
		<real>0.5178</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.5570000000000001</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.508</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.51</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-12 00:00:00</string>
		<key>upPrice</key>
		<real>0.5570000000000001</real>
		<key>value10</key>
		<real>0.4807</real>
		<key>value20</key>
		<real>0.4793</real>
		<key>value5</key>
		<real>0.491</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.506</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.49</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.498</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-09 00:00:00</string>
		<key>upPrice</key>
		<real>0.514</real>
		<key>value10</key>
		<real>0.4736</real>
		<key>value20</key>
		<real>0.47405</real>
		<key>value5</key>
		<real>0.47</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.498</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.472</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.498</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-10-08 00:00:00</string>
		<key>upPrice</key>
		<real>0.498</real>
		<key>value10</key>
		<real>0.4695</real>
		<key>value20</key>
		<real>0.47065</real>
		<key>value5</key>
		<real>0.4612</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.453</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.425</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.441</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-30 00:00:00</string>
		<key>upPrice</key>
		<real>0.469</real>
		<key>value10</key>
		<real>0.466</real>
		<key>value20</key>
		<real>0.4689</real>
		<key>value5</key>
		<real>0.456</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.441</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.415</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.415</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-29 00:00:00</string>
		<key>upPrice</key>
		<real>0.478</real>
		<key>value10</key>
		<real>0.4664</real>
		<key>value20</key>
		<real>0.47195</real>
		<key>value5</key>
		<real>0.4594</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.452</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.428</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.461</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-28 00:00:00</string>
		<key>upPrice</key>
		<real>0.461</real>
		<key>value10</key>
		<real>0.4638</real>
		<key>value20</key>
		<real>0.4774</real>
		<key>value5</key>
		<real>0.4704</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.462</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.46</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.476</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-25 00:00:00</string>
		<key>upPrice</key>
		<real>0.487</real>
		<key>value10</key>
		<real>0.4647</real>
		<key>value20</key>
		<real>0.4798</real>
		<key>value5</key>
		<real>0.4772</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.472</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.462</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.462</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-24 00:00:00</string>
		<key>upPrice</key>
		<real>0.485</real>
		<key>value10</key>
		<real>0.4697</real>
		<key>value20</key>
		<real>0.4829</real>
		<key>value5</key>
		<real>0.4778</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.47</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.461</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.485</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-23 00:00:00</string>
		<key>upPrice</key>
		<real>0.494</real>
		<key>value10</key>
		<real>0.4741</real>
		<key>value20</key>
		<real>0.4884</real>
		<key>value5</key>
		<real>0.476</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.496</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.475</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.475</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-22 00:00:00</string>
		<key>upPrice</key>
		<real>0.504</real>
		<key>value10</key>
		<real>0.4797</real>
		<key>value20</key>
		<real>0.49725</real>
		<key>value5</key>
		<real>0.4734</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.486</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.446</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.458</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-21 00:00:00</string>
		<key>upPrice</key>
		<real>0.496</real>
		<key>value10</key>
		<real>0.4779</real>
		<key>value20</key>
		<real>0.5084</real>
		<key>value5</key>
		<real>0.4572</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.465</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.443</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.462</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-18 00:00:00</string>
		<key>upPrice</key>
		<real>0.494</real>
		<key>value10</key>
		<real>0.4745</real>
		<key>value20</key>
		<real>0.52305</real>
		<key>value5</key>
		<real>0.4522</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.463</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.463</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.475</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-17 00:00:00</string>
		<key>upPrice</key>
		<real>0.5</real>
		<key>value10</key>
		<real>0.4718</real>
		<key>value20</key>
		<real>0.54155</real>
		<key>value5</key>
		<real>0.4616</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.457</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.414</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.414</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-16 00:00:00</string>
		<key>upPrice</key>
		<real>0.457</real>
		<key>value10</key>
		<real>0.4718</real>
		<key>value20</key>
		<real>0.5594</real>
		<key>value5</key>
		<real>0.4722</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.415</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.415</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.45</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-15 00:00:00</string>
		<key>upPrice</key>
		<real>0.465</real>
		<key>value10</key>
		<real>0.4775</real>
		<key>value20</key>
		<real>0.5821</real>
		<key>value5</key>
		<real>0.486</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.461</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.461</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.534</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-14 00:00:00</string>
		<key>upPrice</key>
		<real>0.534</real>
		<key>value10</key>
		<real>0.491</real>
		<key>value20</key>
		<real>0.6077</real>
		<key>value5</key>
		<real>0.4986</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.512</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.509</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.516</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-11 00:00:00</string>
		<key>upPrice</key>
		<real>0.527</real>
		<key>value10</key>
		<real>0.4949</real>
		<key>value20</key>
		<real>0.6308</real>
		<key>value5</key>
		<real>0.4968</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.516</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.499</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.514</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-10 00:00:00</string>
		<key>upPrice</key>
		<real>0.528</real>
		<key>value10</key>
		<real>0.4961</real>
		<key>value20</key>
		<real>0.65005</real>
		<key>value5</key>
		<real>0.482</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.526</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.47</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.476</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-09 00:00:00</string>
		<key>upPrice</key>
		<real>0.526</real>
		<key>value10</key>
		<real>0.5027</real>
		<key>value20</key>
		<real>0.67025</real>
		<key>value5</key>
		<real>0.4714</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.478</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.413</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.45</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-08 00:00:00</string>
		<key>upPrice</key>
		<real>0.48</real>
		<key>value10</key>
		<real>0.5148</real>
		<key>value20</key>
		<real>0.6907</real>
		<key>value5</key>
		<real>0.469</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.452</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.44</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.447</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-07 00:00:00</string>
		<key>upPrice</key>
		<real>0.482</real>
		<key>value10</key>
		<real>0.5389</real>
		<key>value20</key>
		<real>0.70945</real>
		<key>value5</key>
		<real>0.4834</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.438</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.417</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.417</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-02 00:00:00</string>
		<key>upPrice</key>
		<real>0.465</real>
		<key>value10</key>
		<real>0.5716</real>
		<key>value20</key>
		<real>0.72785</real>
		<key>value5</key>
		<real>0.493</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.463</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.463</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.5</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-09-01 00:00:00</string>
		<key>upPrice</key>
		<real>0.5</real>
		<key>value10</key>
		<real>0.6113</real>
		<key>value20</key>
		<real>0.74865</real>
		<key>value5</key>
		<real>0.5102</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.514</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.495</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.536</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-31 00:00:00</string>
		<key>upPrice</key>
		<real>0.54</real>
		<key>value10</key>
		<real>0.647</real>
		<key>value20</key>
		<real>0.76895</real>
		<key>value5</key>
		<real>0.534</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.55</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.496</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.513</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-28 00:00:00</string>
		<key>upPrice</key>
		<real>0.55</real>
		<key>value10</key>
		<real>0.6867</real>
		<key>value20</key>
		<real>0.7831</real>
		<key>value5</key>
		<real>0.5606</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.5</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.472</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.48</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-27 00:00:00</string>
		<key>upPrice</key>
		<real>0.524</real>
		<key>value10</key>
		<real>0.7244</real>
		<key>value20</key>
		<real>0.79595</real>
		<key>value5</key>
		<real>0.5944</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.524</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.524</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.524</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-26 00:00:00</string>
		<key>upPrice</key>
		<real>0.543</real>
		<key>value10</key>
		<real>0.7667</real>
		<key>value20</key>
		<real>0.8106</real>
		<key>value5</key>
		<real>0.6502</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.582</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.582</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.582</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-25 00:00:00</string>
		<key>upPrice</key>
		<real>0.582</real>
		<key>value10</key>
		<real>0.804</real>
		<key>value20</key>
		<real>0.82525</real>
		<key>value5</key>
		<real>0.7124</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.647</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.647</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.656</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-24 00:00:00</string>
		<key>upPrice</key>
		<real>0.699</real>
		<key>value10</key>
		<real>0.8378</real>
		<key>value20</key>
		<real>0.83465</real>
		<key>value5</key>
		<real>0.76</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.719</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.718</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.77</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-21 00:00:00</string>
		<key>upPrice</key>
		<real>0.779</real>
		<key>value10</key>
		<real>0.8666</real>
		<key>value20</key>
		<real>0.8445</real>
		<key>value5</key>
		<real>0.8128</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.779</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.777</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.82</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-20 00:00:00</string>
		<key>upPrice</key>
		<real>0.825</real>
		<key>value10</key>
		<real>0.88</real>
		<key>value20</key>
		<real>0.85545</real>
		<key>value5</key>
		<real>0.8544</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.835</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.76</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.78</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-19 00:00:00</string>
		<key>upPrice</key>
		<real>0.84</real>
		<key>value10</key>
		<real>0.8841</real>
		<key>value20</key>
		<real>0.86515</real>
		<key>value5</key>
		<real>0.8832</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.82</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.82</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.911</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-18 00:00:00</string>
		<key>upPrice</key>
		<real>0.916</real>
		<key>value10</key>
		<real>0.886</real>
		<key>value20</key>
		<real>0.86975</real>
		<key>value5</key>
		<real>0.8956</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.911</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.88</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.915</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-17 00:00:00</string>
		<key>upPrice</key>
		<real>0.926</real>
		<key>value10</key>
		<real>0.8909</real>
		<key>value20</key>
		<real>0.8738</real>
		<key>value5</key>
		<real>0.9156</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.927</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.922</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.929</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-14 00:00:00</string>
		<key>upPrice</key>
		<real>0.952</real>
		<key>value10</key>
		<real>0.8794999999999999</real>
		<key>value20</key>
		<real>0.87265</real>
		<key>value5</key>
		<real>0.9204</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.923</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.871</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.891</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-13 00:00:00</string>
		<key>upPrice</key>
		<real>0.931</real>
		<key>value10</key>
		<real>0.8675</real>
		<key>value20</key>
		<real>0.8704499999999999</real>
		<key>value5</key>
		<real>0.9056</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.897</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.889</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.905</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-12 00:00:00</string>
		<key>upPrice</key>
		<real>0.945</real>
		<key>value10</key>
		<real>0.8545</real>
		<key>value20</key>
		<real>0.8648</real>
		<key>value5</key>
		<real>0.885</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.92</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.905</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.929</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-11 00:00:00</string>
		<key>upPrice</key>
		<real>0.952</real>
		<key>value10</key>
		<real>0.8465</real>
		<key>value20</key>
		<real>0.8625</real>
		<key>value5</key>
		<real>0.8764</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.9350000000000001</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.85</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.85</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-10 00:00:00</string>
		<key>upPrice</key>
		<real>0.9379999999999999</real>
		<key>value10</key>
		<real>0.8315</real>
		<key>value20</key>
		<real>0.86375</real>
		<key>value5</key>
		<real>0.8662</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.853</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.82</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.82</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-07 00:00:00</string>
		<key>upPrice</key>
		<real>0.859</real>
		<key>value10</key>
		<real>0.8224</real>
		<key>value20</key>
		<real>0.86795</real>
		<key>value5</key>
		<real>0.8386</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.82</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.8149999999999999</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.84</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-06 00:00:00</string>
		<key>upPrice</key>
		<real>0.848</real>
		<key>value10</key>
		<real>0.8309</real>
		<key>value20</key>
		<real>0.8716</real>
		<key>value5</key>
		<real>0.8294</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.854</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.835</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.855</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-05 00:00:00</string>
		<key>upPrice</key>
		<real>0.9</real>
		<key>value10</key>
		<real>0.8462</real>
		<key>value20</key>
		<real>0.8727</real>
		<key>value5</key>
		<real>0.824</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.869</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.799</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.799</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-04 00:00:00</string>
		<key>upPrice</key>
		<real>0.869</real>
		<key>value10</key>
		<real>0.8535</real>
		<key>value20</key>
		<real>0.86825</real>
		<key>value5</key>
		<real>0.8166</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.797</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.75</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.799</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-08-03 00:00:00</string>
		<key>upPrice</key>
		<real>0.83</real>
		<key>value10</key>
		<real>0.8567</real>
		<key>value20</key>
		<real>0.8673</real>
		<key>value5</key>
		<real>0.7968</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.8070000000000001</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.76</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.761</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-31 00:00:00</string>
		<key>upPrice</key>
		<real>0.822</real>
		<key>value10</key>
		<real>0.8658</real>
		<key>value20</key>
		<real>0.87465</real>
		<key>value5</key>
		<real>0.8062</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.793</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.793</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.838</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-30 00:00:00</string>
		<key>upPrice</key>
		<real>0.839</real>
		<key>value10</key>
		<real>0.8734</real>
		<key>value20</key>
		<real>0.88675</real>
		<key>value5</key>
		<real>0.8324</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.8169999999999999</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.73</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.773</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-29 00:00:00</string>
		<key>upPrice</key>
		<real>0.8169999999999999</real>
		<key>value10</key>
		<real>0.8751</real>
		<key>value20</key>
		<real>0.9054</real>
		<key>value5</key>
		<real>0.8683999999999999</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.77</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.76</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.76</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-28 00:00:00</string>
		<key>upPrice</key>
		<real>0.829</real>
		<key>value10</key>
		<real>0.8784999999999999</real>
		<key>value20</key>
		<real>0.9293</real>
		<key>value5</key>
		<real>0.8904</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.844</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.844</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.9</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-27 00:00:00</string>
		<key>upPrice</key>
		<real>0.9379999999999999</real>
		<key>value10</key>
		<real>0.896</real>
		<key>value20</key>
		<real>0.9597</real>
		<key>value5</key>
		<real>0.9166</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.9379999999999999</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.915</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.97</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-24 00:00:00</string>
		<key>upPrice</key>
		<real>1.031</real>
		<key>value10</key>
		<real>0.9135</real>
		<key>value20</key>
		<real>0.9825</real>
		<key>value5</key>
		<real>0.9254</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.973</real>
		<key>currentPrice</key>
		<integer>0</integer>
		<key>lowPrice</key>
		<real>0.901</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.925</real>
		<key>totalNum</key>
		<integer>0</integer>
		<key>tradeDate</key>
		<string>2015-07-23 00:00:00</string>
		<key>upPrice</key>
		<real>0.988</real>
		<key>value10</key>
		<real>0.9123</real>
		<key>value20</key>
		<real>0.99705</real>
		<key>value5</key>
		<real>0.9144</real>
	</dict>
	<dict>
		<key>changesPercent</key>
		<integer>0</integer>
		<key>closePrice</key>
		<real>0.679</real>
		<key>currentPrice</key>
		<real>0.679</real>
		<key>lowPrice</key>
		<real>0.609</real>
		<key>netVaule</key>
		<integer>0</integer>
		<key>openPrice</key>
		<real>0.652</real>
		<key>totalNum</key>
		<integer>8669006</integer>
		<key>tradeDate</key>
		<string>2015-10-26 14:02:45</string>
		<key>upPrice</key>
		<real>0.6879999999999999</real>
		<key>value10</key>
		<real>0.7665999999999999</real>
		<key>value20</key>
		<real>0.8076</real>
		<key>value5</key>
		<real>0.6726</real>
	</dict>
</array>
</plist>
